body {
    font-size: 17px;
    font-family: Arial, sans-serif;
}

.back-button {
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: white;
    background-color: #555;
    border: none;
}

.back-button:hover {
    background-color: #777;
}

main {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: solid 3px #555;
    padding: 20px 10px 20px 10px;
}

.generated_dollars {
    color: rgb(0, 141, 0);
}

.error-message {
    color: rgb(165, 0, 0);
    font-weight: bold;
    font-size: 20px;
}

.generated_colours {
    border: #000 solid 0px;
}

a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3e3e3e;
    border-radius: 10px;
    font-size: 16px;
}
